---

import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

interface Rifa {
    foto: string;
    nombre: string;
    reglamento: string;
}

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}
// TODO FETCH ON USER 
const rifas = await fetch("http://localhost:4321/api/rifa/dashboard");
// Intentar obtener campañas, si no tienes eres nuevo
// si eres nuevo, mandarte a crear una campaña

if (rifas.status !== 200 && rifas) {
  return redirect("/rifa/crear");
}
const rifasData:Rifa[] = await rifas.json();
function nameToPageName(name: string){
    return name.toLowerCase().replace(" ", "-");
}
---
<Layout title="dashboard">
  <h2>Tus rifas</h2>
  <ul>
    {rifasData.map((rifa) => (
      <li>
        <a href={`/rifa/${nameToPageName(rifa.nombre)}`}>{rifa.nombre}</a>
        <img src={rifa.foto} alt={`Foto de la campaña ${rifa.nombre}`}>
        <p>{rifa.reglamento}</p>
      </li>
    ))}
  </ul>
  <a href="/rifa/crear">Crear una rifa</a>
</Layout>
